# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
out/
.turbo/
*.tsbuildinfo

# expo / react native
.expo/
apps/mobile/android/
apps/mobile/ios/
*.apk
*.aab
*.ipa

# env & secrets
.env
.env.*
!.env.example
*.pem
*.keystore
!debug.keystore

# test & coverage
coverage/
playwright-report/
test-results/

# logs & OS
*.log
npm-debug.log*
pnpm-debug.log*
.DS_Store
Thumbs.db

# editors
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
